<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <h1>Payment</h1>
    <p>Scan the QR code or use the UPI ID to make the payment:</p>
    <img src="../static/images/web_pay.jpeg" alt="QR Code">
    <p>UPI ID: 9999780441@paytm</p>

    <h2>Upload Screenshot</h2>
    <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" id="fileInput" name="file" accept="image/*">
        <button id="uploadButton" type="submit" disabled>Upload</button>
    </form>

    <script>
        // Function to enable/disable the upload button based on whether a file is selected
        function toggleUploadButton() {
            var fileInput = document.getElementById('fileInput');
            var uploadButton = document.getElementById('uploadButton');
            uploadButton.disabled = !fileInput.value; // Disable if no file selected
        }

        // Event listener to trigger the toggleUploadButton function when a file is selected
        document.getElementById('fileInput').addEventListener('change', toggleUploadButton);
    </script>
</body>
</html>
